.navclas{
    background: #19c064ee;
}

a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;

  }
.active {
    color: #ffff;
    text-decoration: underline;
  }