<footer class="text-black text-white">
    <div class="container text-md-left">
      <div class="row text center text-md-left">
        <div class="d-flex flex-wrap  col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 d-none d-block">
          <a href="/index"></a>
          <p>
           
            BUCO INTERNATIONAL ,une entreprise légale 
            reconnue par l'État béninois . Retrouvez-nous à
            Cotonou, quartier Ménontin dans la rue de l'EPP
            Ménontin, Immeuble NAGO 03 BP 0661.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 footer_link">
          <h5 class="text-uppercase mb-4 font weight bolder black"><strong> Lien utile</strong>
           
          </h5>
          
        
          <p>
            <a  class="text-black text-white " style="text-decoration: none" > Réalisations</a>
          </p>
          <p>
            <a  class="text-black text-white " style="text-decoration: none" >Services</a>
          </p>
          <p>
            <a  class="text-black text-white " style="text-decoration: none" >Contactez-nous</a>
          </p>
        </div>
        <div class="col-md-3 col-md-xl-2-mx-auto mt-3 footer-link">
          <h5 class="text-uppercase mb-4 font-weight-bolder text-black text-white " style="text-decoration: none"> <strong>Services</strong>
            
          </h5>
         
          <p>
            <a href="Equipement_medical.html" class="text-black text-white" style="text-decoration: none">Equipement médical</a>
          </p>
          <p>
            <a href="BTP.html" class="text-black text-white" style="text-decoration: none">
              BTP</a>
          </p>
          <p>
            <a href="Transport_Logistique.html" class="text-black text-white" style="text-decoration: none">Transport & Logistique</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 mx-auto mt-3">
          <h5 class="text-uppercase  font weight bolder text-black text-white"> <strong>Contactez-nous</strong>
          </h5>
          
        
          <div style="display: flex;">
            <img src="" style="height: 24px;" alt="">
            <p style="margin-left: 5px;" >info.buco2000gmail.com  </p>
          </div>
          <div style="display: flex;">
            <img src="" style="height: 28px; top: 8px !important;" alt="">
            <p style="margin-left: 5px;" >Menontin C/2071 von juste aprèsCS Mènontin-Sud,
              Cotonou, Bénin</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
 