

<br><br> <br><br><br><br>
<div class="card col-6 offset-md-3">
    <div class="card-header">
       <h3 class="text-center">Ajouter un Compte Bancaire </h3>
    </div>
    <div class="card-body">
      <form [formGroup]="bankAccountForm" (ngSubmit)="addBankAccount()">
        <div class="form-group">
            <label for="customerId">Choisir Client </label>
            <select class="input-control"  id="customerId" formControlName="customerId">
                <option  >Choisir Client</option>
                <option  *ngFor="let client of dataClient" [value]="client.id">
                  {{ client.name }}
                </option>
            </select>       
        </div>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" formControlName="id">
        </div>
       
        <div class="form-group">
          <label for="createdAt">Date Creation</label>
          <input type="date" class="form-control" id="createdAt" formControlName="createdAt">
        </div>
        <div class="form-group">
          <label for="balance">balance</label>
          <input type="number" class="form-control" id="balance" formControlName="balance">
        </div>
        <div class="form-group">
            <label for="status">status</label>
            <input type="text" class="form-control" id="status" formControlName="status">
        </div>
          <div class="form-group">
            <label for="currency">currency</label>
            <input type="text" class="form-control" id="currency" formControlName="currency">
          </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary mx-1">Ajouter</button>
        <a routerLink="/gestionBankAccount" type="button" class="btn btn-secondary mx-1">Retour</a>
      </form>
    </div>
  </div>
  <br><br><br><br>
<!-- end add employé -->
