<div class="container mt-5 pt-5">
  <h3 class="text-center"><marquee behavior="" direction="">Plateforme de gestion des activités bancaires</marquee> </h3>
  <div class="row mt-5 ">
    <div class="card col-4">
        <div class="card-header">
        <h3>Gestion des clients</h3>
        </div>
        <div class="card-body">
          Faites la gestion des clients en toute sécurité
        </div>
        <div class="card-footer">
         <a routerLink="/gestionClient">Go in</a> 
        </div>
    </div>

    <div class="card col-4">
        <div class="card-header">
           <h4>Gestion des comptes bancaires </h4>
        </div>
        <div class="card-body">
           Gérez les comptes bancaires de vos clients
        </div>
        <div class="card-footer">
          <a routerLink="/gestionBankAccount">Go in</a> 
        </div>
    </div>
    <div class="card col-4">
        <div class="card-header">
           <h4>Gestion des opérations bancaires</h4>
        </div>
        <div class="card-body">
          Faites des opérations bancaires sur les comptes de des clients
        </div>
        <div class="card-footer">
           <a routerLink="/gestionOperations">Go in</a> 
        </div>
    </div>
</div></div>
<br><br><br><br><br><br><br><br><br>



